<%= form_with(model: waypoint, local: true) do |form| %>
  <% if waypoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(waypoint.errors.count, "error") %> prohibited this waypoint from being saved:</h2>

      <ul>
      <% waypoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid">
  <br>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :latitude %>
      <%= form.text_field :latitude, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :longitude %>
      <%= form.text_field :longitude, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :sent_at %>
      <div class="col-md-12 px-0"><%= form.datetime_select :sent_at %></div>
      <!--<%= form.text_field :sent_at, class: 'form-control' , type: 'datetime-local', value: 'sent_at' %>-->
    </div>
    <div class="form-group col-md-6">
      <%= form.label :vehicle_id %>
      <!--<%= form.number_field :vehicle_id %>-->
      <%= collection_select(:waypoint, :vehicle_id, @vehicles, :id, :vehicle_name, {:prompt => false}, class: 'form-control')  %>
    </div>
  </div>
  
  <br>
  
  <div class="actions">
    <%= form.submit class: 'btn btn-dark float-right', style: 'color:white'%>
  </div>

</div>
<% end %>
