<%= form_with(model: waypoint, local: true) do |form| %>
  <% if waypoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(waypoint.errors.count, "error") %> prohibited this waypoint from being saved:</h2>

      <ul>
      <% waypoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :sent_at %>
    <%= form.datetime_select :sent_at %>
  </div>

  <div class="field">
    <%= form.label :vehicle_id %>
    <!--<%= form.number_field :vehicle_id %>-->
    <%= collection_select(:waypoint, :vehicle_id, @vehicles, :id, :vehicle_name, {:prompt => false}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
