<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1 class="d-flex justify-content-center">Historical of <%= @waypoints.vehicle.vehicle_name %></h1>

  <br>
  
  <table class="table">
    <thead class="thead-dark">
      <tr class="align-middle">
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Sent at</th>
        <th>Vehicle</th>
        <th colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @waypoints.each do |waypoint| %>
        <tr>
          <td class="align-middle"><%= waypoint.latitude %></td>
          <td class="align-middle"><%= waypoint.longitude %></td>
          <td class="align-middle"><%= waypoint.sent_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  <%= link_to waypoints_path, class: 'btn btn-light btn-large rounded-circle' do %>
    <i class="material-icons">arrow_back_ios</i> <% end %>
<div>