<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1 class="d-flex justify-content-center"><%= @waypoint.vehicle.vehicle_name %></h1>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <strong>Latitude:</strong>
        <%= @waypoint.latitude %>
      </div>
      <div class="col-sm">
        <strong>Longitude:</strong>
        <%= @waypoint.longitude %>
      </div>
      <div class="col-sm">
        <strong>Sent at:</strong>
        <%= @waypoint.sent_at %>
      </div>
      <!--<div class="col-sm">
        <strong>Vehicle:</strong>
        <%= @waypoint.vehicle.vehicle_name %>
      </div>-->
    </div>
  </div>
  
  <br>

  <p id="map" style="height: 450px;"></p>

  <!--<%= link_to 'Edit', edit_waypoint_path(@waypoint) %> |
  <%= link_to 'Back', waypoints_path %>-->

  <!--<%= link_to edit_waypoint_path(@waypoint), class: 'btn btn-light btn-large rounded-circle' do %>
    <i class="material-icons">edit</i> <% end %>-->
  <%= link_to waypoints_path, class: 'btn btn-light btn-large rounded-circle' do %>
    <i class="material-icons">arrow_back_ios</i> <% end %>
</div>

<script type="text/javascript">

  var longitude = <%= @waypoint.longitude %>;
  var latitude = <%= @waypoint.latitude %>;
  //console.log(longitude); console.log(latitude);

  //Setting up the map
  var map = new ol.Map({
    target: 'map',
    layers: [ new ol.layer.Tile({ source: new ol.source.OSM() }) ],
    view: new ol.View({
      //center: ol.proj.fromLonLat([-70.656028, -33.444592]),
      center: ol.proj.fromLonLat([longitude, latitude]),
      zoom: 17 
      }) 
  });
  //Setting location of marker
  var marker = new ol.Feature({
    geometry: new ol.geom.Point(
      //ol.proj.fromLonLat([-70.656028, -33.444592])
      ol.proj.fromLonLat([longitude, latitude])
    ),
  });
  //Styling marker
  var icon = new ol.style.Icon({
      src: 'https://png.pngtree.com/svg/20170217/9300c0869c.svg',
      anchor: [0.5, 0.5],
      scale: 0.10,
  });
  marker.setStyle(new ol.style.Style({ image: icon }));
  var vectorSource = new ol.source.Vector({ features: [marker] });
  var markerVectorLayer = new ol.layer.Vector({ source: vectorSource, });
  map.addLayer(markerVectorLayer);
</script>